body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a {
    color: #885DF1
}

h1 {
    text-align: center;
    color: #3B2462
}

footer {
    text-align: center;
    font-size: 13px;
    opacity: 0.8;
}